body {
  background-color: #f2f2f2 !important;
  margin: 0;
  min-height: 100% !important;
}

.fix_bar {
    background-color: #3b8ec2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    color: #8effee !important;
    margin: 0 0 0 0 !important;
}

.CPWLogoImage {
  max-width: 850px;
}

.maincontainer {
  margin: 30px 80px 30px 80px !important;
  border-style: solid;
  border-radius: 10px;
  min-height: 500px;
  background-color: #e6e6e6;
  border-color: #d9d9d9;
  border-width: 2px;
}




/* ------------------------------------ */
.LHS {
  margin: 15px 15px 15px 15px;
  width: auto !important;
  min-width: 400px;
}

.RHS {
  margin: 15px 15px 15px 30px;
  width: auto !important;
  min-width: 500px
}

.CPW_Image {
    height: 200px;
    padding: 0px;
}

.Trace_CPW_Image {
  height: 85px;
  position: absolute;
  margin-top: 60px;
  margin-left: 30px;
}

.heading_top_of_page {
  text-align: left;
  font-size: 25px;
  color: #3b8ec2;
  font-family: 'Trocchi', serif;
  margin-bottom: 10px;
}

.heading_middle_of_page {
  text-align: left;
  font-size: 25px;
  color: #3b8ec2;
  font-family: 'Trocchi', serif;
  margin-bottom: 10px;
  margin-top: 40px;
}

.outputboxes {
  font-size: 18px !important;
  font-family: 'Trocchi', serif;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.number_of_layers {
  width: auto;
}

.select_layers {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #000000;
  width: 230px;
  text-align-last: center;
  background-color: #3b8ec2;
}

.layerbox1to9 {
  margin-left: 8px;
  max-width: 50px;
}

.layerbox1to9eff {
  margin-left: 8px;
  max-width: 50px;
}

.layerbox10 {
  max-width: 50px;
}

.layerbox11 {
  margin-left: 1px;
  max-width: 50px;
}

.Traceboxtrack {
  margin-left: 17px;
  max-width: 50px;
}

.Traceboxgap {
  margin-left: 20px;
  max-width: 50px;
}

.Traceboxground {
  margin-left: 2px;
  max-width: 50px;
}

.width_parameters {
  margin-top: 10px;
  width: auto;
}

.height_permittivity_parameters {
  width: auto;
}

.paddingusermanual {
  padding-top: 30px;
}

.calculateexportbutton {
  min-width: 100px;
  margin-top: 10px !important;
}

.explinationsofcalculationsbutton {
  min-width: 100px;
}

.textRight {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.usermanual {
  border-style: outset;
  margin-bottom: 30px
}

.question {
  margin-top: 10px;
  border-style: solid;
  border-radius: 4px;
  background-color: #e6e6e6;
  border-color: #d9d9d9;
  border-width: 2px;
}

.grounded_layer_question {
  max-width: 150px;
}

.No {
  margin-left: 4.84px !important;
}
