{% extends "IndexCPWNewLayout.html" %}

{% block baseCPW %}
<div class="row maincontainer">

  <div class="LHS col-sm-6">
    <div class="row heading_top_of_page">
      Transmission line Layout
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img class="CPW_Image" src="/static/Images/CPWGUI/CPWLayout3.png">
      </div>
      <div class="col-sm-6">
        <img class="Trace_CPW_Image" src="/static/Images/CPWGUI/CPWConductorImage3.png">
      </div>
    </div>
    <div class="row heading_middle_of_page">
      Output Charateristics
    </div>
    <div class="row outputboxes">
      <output type="text">Characteristic Impedance: {{ answer1[1] }}</output>
    </div>
    <div class="row outputboxes">
      <output type="text">Relative effective permittivity: {{ answer1[0] }}</output>
    </div>
  </div>

  <div class="RHS col-sm-6">
    <div class="row heading_top_of_page">
      Substrates Parameters
    </div>
    <form id="myform" method="get" onsubmit="return validateForm()">
      <div class="row number_of_layers">
        <div class="col-sm-6 height_permittivity_parameters">
          <select class="select_layers" id="select_layers_above" onsubmit="return validateForm()">
            <option>Number of Dielectric Layers</option>
            {% for i in range(1,16) %}
            <option>{{i}}</option>
            {% endfor  %}
          </select>
          {% for i in range(15,0,-1) %}
            {% if i in range(1,10) %}
              <div class="layer_above_input">
              H {{i}}: <input class="layerbox1to9" type="text" name="layers_heights" value="{{ heights[i-1] }}"> μm
              Er {{i}}: <input class="layerbox1to9eff" type="text" name="layers_permittivity" value="{{ layers_permittivity[i-1] }}">
              <input type="radio" name="conducting_trace_layer" value="{{ i }}">
              </div>
            {% elif i == 11 %}
              <div class="layer_above_input">
              H {{i}}: <input class="layerbox11" type="text" name="layers_heights" value="{{ heights[i-1] }}"> μm
              Er {{i}}: <input class="layerbox11" type="text" name="layers_permittivity" value="{{ layers_permittivity[i-1] }}">
              <input type="radio" name="conducting_trace_layer" value="{{ i }}">
              </div>
            {% else %}
              <div class="layer_above_input">
              H {{i}}: <input class="layerbox10" type="text" name="layers_heights" value="{{ heights[i-1] }}"> μm
              Er {{i}}: <input class="layerbox10" type="text" name="layers_permittivity" value="{{ layers_permittivity[i-1] }}">
              <input type="radio" name="conducting_trace_layer" value="{{ i }}">
              </div>
            {% endif %}
          {% endfor  %}
        </div>
        <div class="col-sm-6 width_parameters">
          Width of track (S): <input class="Traceboxtrack" type="text" name="Width_Of_Track" value="{{ Width_Of_Track }}"><br>
          Width of gap (W): <input class="Traceboxgap" type="text" name="Width_Of_Gap" value="{{ Width_Of_Gap }}"><br>
          Width of ground (D): <input class="Traceboxground" type="text" name="Width_Of_Ground" value="{{ Width_Of_Ground }}"><br>
          <button type="submit" class="btn btn-default calculateexportbutton" form="myform">Calculate</button><br>
          <button id="export" class="btn btn-default calculateexportbutton">Export json</button><br>
          <button id="import" class="btn btn-default calculateexportbutton">Import json</button><br>
          <div class="row question">
            <div class="col-sm-8 grounded_layer_question">
              Do you want a grounded layer at the bottom of the stack?
            </div>
            <div class="col-sm-4">
              Yes <input type="radio" name="grounded_layer" value="Yes">
              No <input class="No" type="radio" name="grounded_layer" value="No">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-10">
    </div>
    <div class="col-sm-2">
      <a href="http://127.0.0.1:5000/CPWCalculations">
        <button class="explinationsofcalculationsbutton btn btn-default">Calculations</button>
      </a>
    </div>
  </div>
</div>
<div class="row paddingusermanual">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10 usermanual">
        <h2 class="textCenter">
          <b>User manual</b>
        </h2>
        <h3 class="textCenter">
          Substrate Parameters
        </h3>
        <ul class="textLeft">
          <li>H = Height of the dielectric layer </li>
          <li>Er = Dielectric constant </li>
          <li>Width of Conductor (S) = Width of conductor </li>
          <li>Width of Gap (W) = Width of gap between the conductor and the grounded return conductors </li>
          <li>Width of Ground (D) = Width of grounded return conductors.</li>
        </ul>
        <h3 class="textCenter">
          User guide
        </h3>
        <p class="textLeft">
          Choose how many dielectric substrate layers you structure has overall.<br>
          Enter values for the height and dielectric constant of each of the dielectric substrate layer.<br>
          Choose which layer you want to place the conductor on and the grounded return conductors. You can do this by pressing the radio buttons next to the substrate parameters.<br>
          For example if you choose the radio button beside layer 4 then the conductor and the grounded return conductor will be placed on top of this layer i.e. there will be 4 dielectric layers below the conductor and the grounded return conductor.<br>
          Also by using the image on the top left hand side of the application you can see which layers correspond to which values you are entering.<br>
          Choose the width of the conductor, width of the grounded return conductors and the width of the gap between the conductor and the grounded return conductors of your structure as shown in the image on the top left hand side of the application.<br>
          Press the "Yes" or "No" radio buttons depending on if yor coplanar waveguide structure has a grounded layer under at the bottom of the structure. If you do not press one of these buttons than your structure will be treated as if there is no extra grounded layer.<br>
          You can now calculate the characteristic impedance and relative effective permittivity using the "Calculate" button.<br>
        </p>
        <p>
          You can export a json file for any particute Microstrip structure using the export button and then import these files using the import button.<br>
          By pressing the "Explanation of Calculations" button there is a detailed expliation of how the characteristic impedance and relative effective permittivity are calculated.<br>
        </p>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}
